.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10vh;
	padding-bottom: 15vh;
}

.accordionSummary {
	width: 80vw;
	height: 18vh;
	padding: 2em !important;
	background-color: rgba(255, 255, 255, 0.151) !important;
	border-radius: 1em !important;
}
.accordion {
	width: 80vw;
	background-color: rgba(255, 255, 255, 0.349) !important;
	/* padding: 1em !important; */
	border-radius: 1em !important;
}
.question {
	font-size: 1.5em !important;
	font-weight: 500 !important;
}
.accordionDetails {
	margin: 1em;
}
