.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 1rem;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.AvatarContainer {
	margin: 1vh;
	height: 111px;
	width: 111px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background: rgba(92, 92, 92, 0.4);
	backdrop-filter: blur(12px);
}
.AvatarContainer img {
	height: 99px;
	width: 99px;
	object-fit: cover;
	border-radius: 50%;
}
