.outerCard {
	margin: 20px 0;
	min-width: 250px;
	width: 20vw;
	background-color: white;
	border-radius: 1em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	overflow: hidden;
}
.outerCard:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card {
	z-index: 2;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(128, 179, 209, 0.863) 50%, white 50%);
	background: linear-gradient(180deg, #f70b42 50%, white 50%);
	background: linear-gradient(180deg, #003388 50%, white 50%);
	background: linear-gradient(180deg, #60a9ff 50%, white 50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* padding: 20px; */
}

.circleImg {
	margin: 8px;
	margin-top: 25px;
	width: 170px;
	height: 170px;
	background-size: cover;
	border: 5px solid rgb(236, 236, 236);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 50%;
}
.card p {
	color: grey;
}
.socials {
	background-color: rgba(204, 204, 204, 0.596);
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
	height: 40px;
	width: 100%;
	z-index: 5;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
	width: 100%;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	padding-bottom: 30px;
	/* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
}

/* /////////////////////////////////////////// */

.slideDown {
	/* width: 20%;
	min-width: 180px; */
	/* margin-bottom: 16px; */
	position: relative;
}
.slideDown figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideDown .overflowWrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slideDown .overflowWrapper figure {
	width: 100%;
}
.slideDown .front {
	position: relative;
	z-index: 2;
	margin: 0;
	/* background-color: white; */
}
.slideDown .front img {
	/* width: 100%; */
}
.slideDown .back {
	height: 100%;
	position: absolute;
	top: 0;
	/* left: 50%;
	transform: translateX(-50%); */
	padding: 0;
	/* text-align: left; */
	background-color: #556aa57e;
	color: white;
	font-weight: 400;
}
.slideDown .back > * {
	/* padding: 0 16px; */
}
.card h5 {
	padding-top: 16px;
	font-size: 22px;
	/* line-height: 2.2vw; */
}
.slideDown .back .title {
	padding-bottom: 0.8vw;
	color: #51c3c3;
}
.slideDown .back .bio {
	padding-bottom: 1vw;
	font-size: 1em;
	line-height: 1.3em;
}
.slideDown .back .social {
	width: 100%;
	justify-content: flex-start;
	padding-bottom: 16px;
}
.slideDown .back .icon {
	width: 2.5vw;
	height: 2.5vw;
	position: relative;
	margin-right: 6px;
	border-radius: 100%;
	background-color: white;
}
.slideDown .back .icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.6vw;
	color: #556aa5;
}

.slideDown .front {
	z-index: 0;
}
.slideDown .back {
	max-height: 0;
	overflow: hidden;
	transition: all 300ms linear;
}
.slideDown:hover .back {
	max-height: 100%;
}

.dropdownText {
	padding: 25px 40px;
	text-align: center;
}
/* ////////////////////////////////////////// */
a:hover {
	color: #d9d9d9;
	text-decoration: underline;
}
.socialIcons {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}
.socials {
	/* width: 350px; */
	display: block;
	/* margin: 0 auto; */
}
.socialIcon {
	color: #fff;
}

ul.socialIcons {
	/* margin-top: 10px; */
}
.socialIcons li {
	vertical-align: top;
	display: inline;
	height: 100px;
}
.socialIcons a {
	color: #fff;
	text-decoration: none;
}

.facebook {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background-color: #322f30;
}
.facebook:hover {
	background-color: #3d5b99;
}
.twitter {
	padding: 10px 12px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.twitter:hover {
	background-color: #00aced;
}
.rss {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.rss:hover {
	background-color: #eb8231;
}
.youtube {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.youtube:hover {
	background-color: #e64a41;
}
.linkedin {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.linkedin:hover {
	background-color: #0073a4;
}
.instagram {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.instagram:hover {
	background-color: #8a3ab9;
}
.github {
	padding: 10px 14px;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	/* background-color: #322f30; */
}
.github:hover {
	background-color: #5a32a3;
}
