.card {
	display: flex;
	flex-direction: row;
	height: 60vh;
	/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, */
	/* rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.imgContainer {
	/* background-color: aqua; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35vw;
}
.imgContainer img {
	/* width: 100%; */
	height: 100%;
	max-width: 30vw;
	/* width: 150px; */
	/* -webkit-filter: drop-shadow(0px 0px 0.75rem rgb(80, 75, 75));
	filter: drop-shadow(0px 0px 0.75rem rgb(80, 75, 75)); */
}
.line {
	width: 2px;
	height: 40%;
	align-self: center;
	background-color: black;
}
.text {
	/* background-color: rgb(124, 134, 131); */
	width: 45vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	flex-direction: column;
}
.text p {
	align-self: center;
	/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
	padding: 15px;
}

@media only screen and (max-width: 625px) {
	.imgContainer {
		display: none;
	}
	.line {
		display: none;
	}
	.text {
		width: 70vw;
	}
}
.info {
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	padding: 0 !important;
	padding-left: 1rem !important;
	width: 100%;
	color: rgb(44, 44, 44);
}
