.page {
	background-color: #ffffff;
	/*background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	padding: 20px; */
	margin-bottom: 380px;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.hero {
	height: 100vh;
	display: flex;
	flex-direction: row;
	z-index: 2;
	position: relative;
}
.keypoints {
	z-index: 4;
	position: relative;
	margin-top: -16.5vh;
}
.reviews {
	display: flex;
	width: 100%;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background: linear-gradient(rgb(255, 255, 255), rgba(185, 184, 184, 0.74)); */
	padding-bottom: 1.5em;
}

/* .verticalRectangle {
	width: 5vw;
	background-color: #7c91a6;
	background-image: linear-gradient(90deg, #25292f, #7c91a6);
}

.intro {
	width: 40vw;
}
.introImg {
	width: 55vw;
}
@media only screen and (max-width: 900px) {
	.verticalRectangle {
		display: none;
	}
	.introImg {
		width: 60vw;
	}
} */

.chooseUs {
	/* margin-bottom: 25px; */
	padding-bottom: 50px;
}
.achievements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20vh;
}
/* .faqs {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23BBBBBB'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	
	background-size: cover;
} */
/* Costom Scrollbar */
/* Width */
::-webkit-scrollbar {
	background-color: transparent;
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; //Used for inserting a box around the scroll bar with that ugly shadow*/
	background-color: rgba(31, 30, 30, 0.075);
	background-color: #3a374a;

	/* border-radius: 15px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #3d3d3d;
	background: rgba(211, 211, 211, 0.205);
	background-color: #ffffff;
	height: 120px;
	/* border: solid 0.5px rgb(209, 208, 208); */
	/* border-radius: 3px; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	/* background: rgba(211, 211, 211, 0.205);
	background-color: #c4c4c4; */
}

h3 {
	font-weight: bold;
	font-size: 1.3em;
	color: #f70b42;
}

/* svg divider onlineContainerBottomDivider */
.onlineContainerBottomDivider {
	position: absolute;
	/* bosttom: 0; */
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	/* margin-top: -150px; */
}

.onlineContainerBottomDivider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.onlineContainerBottomDivider .shapeFill {
	fill: #ffffff;
	fill: #12c2e9; /* fallback for old browsers */
	fill: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
	fill: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* svg divider chooseUsBottomDivider */
.chooseUsBottomDivider {
	position: absolute;
	/* bosttom: 0; */
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	/* transform: rotate(180deg); */
	/* margin-top: -150px; */
}

.chooseUsBottomDivider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.chooseUsBottomDivider .shapeFill {
	fill: #ffffff;
	fill: #12c2e9; /* fallback for old browsers */
	fill: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
	fill: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
