@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.outerContainer {
	/* background-color: #384b4e; */
	margin: 0;
	padding: 50px;
	background-color: grey;
	margin-bottom: 380px;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
	/* color: white; */
}
button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
input,
select,
textarea {
	/* color: #5a5a5a; */
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

.container {
	/* border: solid 3px #474544; */
	max-width: 800px;
	margin: auto;
	position: relative;
	background-color: rgba(58, 41, 41, 0.454);
	font-family: "Montserrat", Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	padding: 60px;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	/* background-clip: padding-box; */
}

form {
	padding: 4vh 4vw;
	margin: 50px 0;
	margin-bottom: 0;
}
@media screen and (max-width: 530px) {
	.container {
		padding: 2vh 2vw;
	}
	form {
		padding: 2vh 3vw;
		margin: 25px 0;
		margin-bottom: 0;
	}
}

h1 {
	/* color: #474544; */
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

.underline {
	border-bottom: solid 2px grey;
	margin: -0.512em auto;
	width: 80px;
}

.icon_wrapper {
	margin: 50px auto 0;
	width: 100%;
}

.icon {
	display: block;
	fill: #ffffff;
	height: 50px;
	margin: 0 auto;
	width: 50px;
}

input[type="text"],
[type="email"],
select,
textarea {
	background: #2b221996;
	border: none;
	border-bottom: solid 2px #c0bdbb;
	color: #ffffff;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 20px;
	border-radius: 0.5em;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
	padding: 20px;
}

.name {
	width: 100%;
}
.email {
	width: 100%;
}
.message {
	float: none;
}

@media screen and (min-width: 530px) {
	.name {
		float: left;
		width: 45%;
	}
	.email {
		float: right;
		width: 45%;
	}
}

select {
	background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat
		right;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

.subject {
	width: 100%;
}

.telephone {
	width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	width: 100%;
}

::-webkit-input-placeholder {
	color: #ffffff;
}

:-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

/* #form_button {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
	background: #474544;
	color: #f2f3eb;
} */

@media screen and (max-width: 768px) {
	#container {
		margin: 20px auto;
		width: 95%;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 26px;
	}

	.underline {
		width: 68px;
	}

	#form_button {
		padding: 15px 25px;
	}
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 18px;
	}

	.icon {
		height: 35px;
		width: 35px;
	}

	.underline {
		width: 53px;
	}

	input[type="text"],
	[type="email"],
	select,
	textarea {
		font-size: 0.875em;
	}
}
label {
	color: #999;
	padding: 1.3rem 30px 1rem 30px;
	position: absolute;
	top: 10px;
	left: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	pointer-events: none;
}

/* BUTTON */
.submit {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* CSS */

/* CSS */
.button {
	align-items: center;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button:hover,
.button:focus {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
}

.button:hover {
	transform: translateY(-1px);
}

.button:active {
	background-color: #f0f0f1;
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	color: rgba(0, 0, 0, 0.65);
	transform: translateY(0);
}
